build/
build-release/
**/CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
*.user
*.vcxproj*
*.sln
.vscode/
.DS_Store
.cache/
*.nproj
*.bak
*.nspc
*.nti
*.ini
*.log
*.spc
reference_code/